
.logo {
  font-size: 18px;
  font-weight: 700;
}

.logo__meta {
  background: -webkit-linear-gradient(269.8deg, #FE49CF -0.46%, #FE58A2 28.61%, #FF6B65 67.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: var(--tablet-width)) { 
  .logo {
    font-size: 20px;
  }
}

@media (min-width: var(--desktop-width)) { 
  .logo {
    font-size: 23px;
  }
}